* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    transition: 0.5s;
}

/* body {
    /* background: rgb(70, 70, 70);
} */
html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    background:rgb(0, 0, 0);
}

html::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background: linear-gradient(to top , crimson, rgb(126, 1, 26));
}
body {
    background: #fff;
}
header {
    padding: 100px;
}
.banner {
    position: relative;
    min-height: 100vh;
    background-image: url('./img/white.jpg');
    transition: 1s;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img {
    overflow: hidden;
    width: 600px;
    height: 400px;
    display: none; 
    transition: 0.5s;
}
.img img {
    position: relative;
    left: -300px;
    top: -160px;
    width: 1288px;
    height: 775;
}
.banner h2 {
    font-size: 3em;
    color: black;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span{
    font-weight: 700;
    font-size: 1.5em;
    color: black;
}
.banner h3 {
    font-size: 1.5em;
    color: black;
    font-weight: 500;
}

.btn{
    position: relative;
    background: crimson;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}
.sticky {
    padding: 10px 100px;
    background: #fff;
}
.sticky ul li a {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.sticky .logo {
    color: #000;
}
.scrollbtn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.scrollbtn i {
    color: #fff;
}
.element {
    color: crimson;
}
section .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
section .logo span {
    color: crimson;
}
section ul {
    position: relative;
    display: flex;
}
section ul li {
    position: relative;
    list-style: none;
}
section ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
section ul li a:after {
    content: "";
    position: absolute;
    background-color: #2196f3;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
    border-radius: 3px;
}
section ul li a:hover:after {
    width: 100%;
}
section input {
    position: relative;
    width: 60px;
    height: 25px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 40px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
section input:checked {
    background: #03a9f4;
}
section input::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
section input:checked::before {
    left: 37px;
}

.i {
    display: flex;
}
.i .men p:nth-child( 1 ) {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
}
.i .men p:nth-child( 2 ) {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 450px;
    margin: 10px 0 20px 0;
    color: black;
}
.i .men p:nth-child( 3 ) {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 450px;
    margin: 0 0 20px 0;
    color: black;
}
.sp {
    color: crimson;
}
.i .men p:nth-child( 4 ) {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 450px;
    margin: 0 0 0px 0;
    color: black;
}
.i .men p:nth-child( 4 ) span {
    color: crimson;
}
.imgs img{
    width: 400px;
    height: 400px;
    margin:  0 0 0 150px;
}
.men {
    margin: 60px 0 0 0;
}
.i {
    width: 1170px;
    margin: 50px auto;
}
.men i {
    padding: 13px;
    border-radius: 50%;
    font-size: 23px;
    /* background: rgb(41, 160, 220); */
    background: rgb(134, 134, 134);
    color: white;
    transition: 0.5s;
    position: relative;
    top: 20px;
}
.men i:hover {
    background: rgb(51, 51, 51);
    color: rgb(41, 160, 220);
}
/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

Center slide text vertically
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
} */